{% extends "form.html" %}
{% from "bootstrap5/form.html" import render_form %}

{% block title %}
Problem {{ problem_id }} 
{% endblock %}

{% block form %}
{{ super() }}
<div class="container my-5">
  <form id="signup-form" class="custom-bg-primary my-3" method="POST" action="/check_question">
    <input type="number" id="problem_id" name="problem_id" value="{{ problem_id }}" hidden style="display: none">
    <h2 class="text-center font-weight-bold">{{ name }}</h2>

    <h4>Prompt</h4>
    <div class="d-flex justify-content-between my-3 border bg-light">
      <p class=".text-dark">{{ prompt }}</p>
    </div>

    {{ render_form(form) }}
  </form>

  <h4>Output</h4>
  <div class="d-flex justify-content-left my-3 border bg-light">
    <p class=".text-dark"><pre>{{ output }}</pre></p>
  </div>

  <h4>Code Analysis</h4>
  <div class="d-flex justify-content-between my-3 border bg-light">
    <p class=".text-dark"><pre>{{ code_analysis }}</pre></p>
  </div>

  <hr>

  <div class="d-flex justify-content-between my-3">
    {% if problem_id > 1 %}
        <a href="/problem/{{ problem_id - 1 }}" class="btn btn-secondary">Last</a>
    {% endif %}
    {% if problem_id < problem_count %}
        <a href="/problem/{{ problem_id + 1 }}" class="btn btn-secondary">Next</a>
    {% endif %}  
  </div>

</div>
{% endblock %}
